<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In Form</title>
  <link rel="stylesheet" href="../css/signup.css">
  
  <script src="https://kit.fontawesome.com/ff80728bb2.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <a class = "input-home" href="/">Home Page</a>
    
     <!-- <div class="container">
        <div class="form-box">
            <h1 id="title">Sign up</h1>
            <form action="/signup" method="post">
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Name"> 
                    </div>
                    
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="email" placeholder="Email"> 
                    </div>
                    
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password"> 
                   
                    <div class="btn-field">
                        
                        <button type="button" id="signupBtn">Sign Up</button>
                        <button type="button" id="signinBtn" class="disable">Sign In</button>
                         
                    </div>
                </div>
                
            </form>
        </div>

    </div>
    </div> -->
    <button>
        <a class ="google-SI" href='/auth/google'>Login With Google</a>
    
    </button>
 <!-- <script> 
    
    let signupBtn = document.getElementById('signupBtn');
    let signinBtn = document.getElementById('signinBtn');
    let nameField = document.getElementById('nameField');
    let title = document.getElementById('title');

    signinBtn.onclick = function(){
        nameField.style.maxHeight = '0';
        title.innerHTML = 'Sign In';
        signupBtn.classList.add('disable');
        signinBtn.classList.remove('disable');
    }

    signupBtn.onclick = function(){
        nameField.style.maxHeight = '60px';
        title.innerHTML = 'Sign Up';
        signupBtn.classList.remove('disable');
        signinBtn.classList.add('disable');
    }
</script> 
<script src = "/assets/js/signup.js" ></script> -->


<!-- <div class="mx-auto" id="my-signin2"></div>

 <script>
    function onSuccess(googleUser) {
        // Handle successful login here
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());

        // Redirect to your desired page
        window.location.href = 'https://task-flow-b7fd9bbf60ad.herokuap.com/success'; // Change this to your actual page URL
    }

    function onFailure(error) {
        console.log(error);
    }

    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }

    // Initialize the button
    renderButton();
</script> -->


</body>
</html>
 
